**/*.RDS
**/*.RData
**/biolib_results
**/z_output
**/*.log
**/*.gtf
**/data/
nextflow_pipeline/workflow/work/
nextflow_pipeline/workflow/results/
**/*.sif
**/*.bed
**/*.fa
**/*.fasta
**/*.pdf
**/*.tsv
**/*.txt
scripts/deseq_out/
scripts/deseq_prep_files/
scripts/nanoplot_outputs/
scripts/oldslurm/
**/*.err
**/*.out
**/cemetery
**/tables
**/figures
**/*rclone*
